Repository ricardocosta/bank-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different, tsc

chore: Setup commitlint
  .commitlintrc
  .husky/commit-msg
  package-lock.json
  package.json
Due: prettier --list-different

chore: Setup commitlint (#20)
  .commitlintrc
  .husky/commit-msg
  package-lock.json
  package.json
Due: prettier --list-different

chore: Create workflow to validate PR
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/pr.yml
Due: prettier --list-different

chore: Create workflow to validate PR (#21)
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/pr.yml
Due: prettier --list-different

chore: Configure Pull Request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --list-different

chore: Configure Pull Request template (#22)
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --list-different

ci: Add coverage report to action summary
  .github/workflows/ci.yml
  .lintstagedrc
  package.json
  vitest.config.ts
Due: eslint, prettier --list-different, tsc

ci: Add coverage report to action summary (#24)
  .github/workflows/ci.yml
  .lintstagedrc
  package.json
  vitest.config.ts
Due: eslint, prettier --list-different, tsc

chore: Replace npm with pnpm
  .husky/commit-msg
  .husky/pre-commit
  app/components/ui/icons/README.md
  app/components/ui/icons/name.d.ts
  app/components/ui/icons/sprite.svg
  other/build-icons.ts
  other/litefs.yml
  other/sly/sly.json
  other/svg-icons/README.md
  package-lock.json
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  types/icon-name.d.ts
Due: eslint, prettier --list-different, tsc

ci: Convert workflows to use pnpm
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/pr.yml
  package.json
Due: prettier --list-different

build: Adjust Dockerfile to use pnpm
  other/Dockerfile
  other/litefs.yml
  package.json
  pnpm-lock.yaml
  prisma/migrations/20230914194400_init/migration.sql
Due: prettier --list-different

chore: Convert to pnpm (#25)
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/pr.yml
  .husky/commit-msg
  .husky/pre-commit
  app/components/ui/icons/README.md
  app/components/ui/icons/name.d.ts
  app/components/ui/icons/sprite.svg
  other/Dockerfile
  other/build-icons.ts
  other/litefs.yml
  other/sly/sly.json
  other/svg-icons/README.md
  package-lock.json
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  prisma/migrations/20230914194400_init/migration.sql
  types/icon-name.d.ts
Due: eslint, prettier --list-different, tsc

chore: Add dependabot configuration
  .github/dependabot.yml
Due: prettier --list-different

chore: Add dependabot configuration (#26)
  .github/dependabot.yml
Due: prettier --list-different

fix: Fix dependabot configuration
  .github/dependabot.yml
Due: prettier --list-different

fix: Fix dependabot configuration (#28)
  .github/dependabot.yml
Due: prettier --list-different

ci: Exclude dependabot PRs from reference check
  .github/workflows/pr.yml
Due: prettier --list-different

ci: Exclude dependabot PRs from reference check (#40)
  .github/workflows/pr.yml
Due: prettier --list-different

chore: Add workflows to manage issue status
  .github/workflows/set-issue-in-progress.yml
  .github/workflows/set-issue-in-review.yml
  .gitignore
Due: prettier --list-different

chore: Add workflows to manage issue status (#42)
  .github/workflows/set-issue-in-progress.yml
  .github/workflows/set-issue-in-review.yml
  .gitignore
Due: prettier --list-different

chore: Skip changing to In Reviwe if no reference
  .github/workflows/set-issue-in-review.yml
Due: prettier --list-different

chore: Skip changing to In Review if no reference (#44)
  .github/workflows/set-issue-in-review.yml
Due: prettier --list-different

refactor: Modify out-of-the-box admin credentials
  .env.example
  app/utils/env.server.ts
  prisma/seed.ts
Due: eslint, prettier --list-different, tsc

refactor: Modify out-of-the-box admin credentials (#69)
  .env.example
  app/utils/env.server.ts
  prisma/seed.ts
Due: eslint, prettier --list-different, tsc

feat: Remove confetti notifications
  app/components/confetti.tsx
  app/root.tsx
  app/routes/_auth+/onboarding.tsx
  app/routes/_auth+/onboarding_.$provider.tsx
  app/utils/confetti.server.ts
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --list-different, tsc

feat: Remove confetti notifications (#71)
  app/components/confetti.tsx
  app/root.tsx
  app/routes/_auth+/onboarding.tsx
  app/routes/_auth+/onboarding_.$provider.tsx
  app/utils/confetti.server.ts
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --list-different, tsc

feat: Remove external providers login
  .env.example
  app/routes/_auth+/auth.$provider.callback.test.ts
  app/routes/_auth+/auth.$provider.callback.ts
  app/routes/_auth+/auth.$provider.ts
  app/routes/_auth+/login.tsx
  app/routes/_auth+/onboarding.tsx
  app/routes/_auth+/onboarding_.$provider.tsx
  app/routes/_auth+/signup.tsx
  app/routes/settings+/profile.connections.tsx
  app/routes/settings+/profile.index.tsx
  app/utils/auth.server.ts
  app/utils/connections.server.ts
  app/utils/connections.tsx
  app/utils/env.server.ts
  app/utils/providers/github.server.ts
  app/utils/providers/provider.ts
  app/utils/redirect-cookie.server.ts
  app/utils/verification.server.ts
  package.json
  pnpm-lock.yaml
  prisma/migrations/20231206235734_remove_connections/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  tests/mocks/github.ts
  tests/mocks/index.ts
  tests/mocks/utils.ts
  tests/utils.ts
Due: eslint, prettier --list-different, tsc

feat: Remove external providers login (#72)
  .env.example
  app/routes/_auth+/auth.$provider.callback.test.ts
  app/routes/_auth+/auth.$provider.callback.ts
  app/routes/_auth+/auth.$provider.ts
  app/routes/_auth+/login.tsx
  app/routes/_auth+/onboarding.tsx
  app/routes/_auth+/onboarding_.$provider.tsx
  app/routes/_auth+/signup.tsx
  app/routes/settings+/profile.connections.tsx
  app/routes/settings+/profile.index.tsx
  app/utils/auth.server.ts
  app/utils/connections.server.ts
  app/utils/connections.tsx
  app/utils/env.server.ts
  app/utils/providers/github.server.ts
  app/utils/providers/provider.ts
  app/utils/redirect-cookie.server.ts
  app/utils/verification.server.ts
  package.json
  pnpm-lock.yaml
  prisma/migrations/20231206235734_remove_connections/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  tests/mocks/github.ts
  tests/mocks/index.ts
  tests/mocks/utils.ts
  tests/utils.ts
Due: eslint, prettier --list-different, tsc

feat: Remove marketing pages
  app/root.tsx
  app/routes/_auth+/login.tsx
  app/routes/_marketing+/about.tsx
  app/routes/_marketing+/index.tsx
  app/routes/_marketing+/logos/docker.svg
  app/routes/_marketing+/logos/eslint.svg
  app/routes/_marketing+/logos/faker.svg
  app/routes/_marketing+/logos/fly.svg
  app/routes/_marketing+/logos/github.svg
  app/routes/_marketing+/logos/logos.ts
  app/routes/_marketing+/logos/msw.svg
  app/routes/_marketing+/logos/playwright.svg
  app/routes/_marketing+/logos/prettier.svg
  app/routes/_marketing+/logos/prisma.svg
  app/routes/_marketing+/logos/radix.svg
  app/routes/_marketing+/logos/react-email.svg
  app/routes/_marketing+/logos/remix.svg
  app/routes/_marketing+/logos/resend.svg
  app/routes/_marketing+/logos/sentry.svg
  app/routes/_marketing+/logos/shadcn-ui.svg
  app/routes/_marketing+/logos/sqlite.svg
  app/routes/_marketing+/logos/stars.jpg
  app/routes/_marketing+/logos/tailwind.svg
  app/routes/_marketing+/logos/testing-library.png
  app/routes/_marketing+/logos/typescript.svg
  app/routes/_marketing+/logos/vitest.svg
  app/routes/_marketing+/logos/zod.svg
  app/routes/_marketing+/privacy.tsx
  app/routes/_marketing+/support.tsx
  app/routes/_marketing+/tos.tsx
  app/routes/_seo+/robots[.]txt.ts
  app/routes/_seo+/sitemap[.]xml.ts
  app/routes/index.tsx
Due: eslint, prettier --list-different, tsc

feat: Remove marketing pages (#73)
  app/root.tsx
  app/routes/_auth+/login.tsx
  app/routes/_marketing+/about.tsx
  app/routes/_marketing+/index.tsx
  app/routes/_marketing+/logos/docker.svg
  app/routes/_marketing+/logos/eslint.svg
  app/routes/_marketing+/logos/faker.svg
  app/routes/_marketing+/logos/fly.svg
  app/routes/_marketing+/logos/github.svg
  app/routes/_marketing+/logos/logos.ts
  app/routes/_marketing+/logos/msw.svg
  app/routes/_marketing+/logos/playwright.svg
  app/routes/_marketing+/logos/prettier.svg
  app/routes/_marketing+/logos/prisma.svg
  app/routes/_marketing+/logos/radix.svg
  app/routes/_marketing+/logos/react-email.svg
  app/routes/_marketing+/logos/remix.svg
  app/routes/_marketing+/logos/resend.svg
  app/routes/_marketing+/logos/sentry.svg
  app/routes/_marketing+/logos/shadcn-ui.svg
  app/routes/_marketing+/logos/sqlite.svg
  app/routes/_marketing+/logos/stars.jpg
  app/routes/_marketing+/logos/tailwind.svg
  app/routes/_marketing+/logos/testing-library.png
  app/routes/_marketing+/logos/typescript.svg
  app/routes/_marketing+/logos/vitest.svg
  app/routes/_marketing+/logos/zod.svg
  app/routes/_marketing+/privacy.tsx
  app/routes/_marketing+/support.tsx
  app/routes/_marketing+/tos.tsx
  app/routes/_seo+/robots[.]txt.ts
  app/routes/_seo+/sitemap[.]xml.ts
  app/routes/index.tsx
Due: eslint, prettier --list-different, tsc

feat: Remove Sentry integration
  .env.example
  .eslintrc.cjs
  app/components/error-boundary.tsx
  app/entry.client.tsx
  app/entry.server.tsx
  app/root.tsx
  app/utils/env.server.ts
  app/utils/monitoring.client.tsx
  app/utils/monitoring.server.ts
  fly.toml
  other/sentry-create-release.js
  package.json
  pnpm-lock.yaml
  server/index.ts
Due: eslint, prettier --list-different, tsc

feat: Remove Sentry integration (#74)
  .env.example
  .eslintrc.cjs
  app/components/error-boundary.tsx
  app/entry.client.tsx
  app/entry.server.tsx
  app/root.tsx
  app/utils/env.server.ts
  app/utils/monitoring.client.tsx
  app/utils/monitoring.server.ts
  fly.toml
  other/sentry-create-release.js
  package.json
  pnpm-lock.yaml
  server/index.ts
Due: eslint, prettier --list-different, tsc

feat: Remove Fly integration and deploy setup
  .dockerignore
  .env.example
  .eslintrc.cjs
  .gitignore
  Dockerfile
  app/entry.server.tsx
  app/routes/_auth+/verify.tsx
  app/routes/admin+/cache.tsx
  app/routes/admin+/cache_.lru.$cacheKey.ts
  app/routes/admin+/cache_.sqlite.$cacheKey.ts
  app/routes/admin+/cache_.sqlite.tsx
  app/routes/resources+/healthcheck.tsx
  app/utils/cache.server.ts
  app/utils/env.server.ts
  app/utils/litefs.server.ts
  fly.toml
  other/Dockerfile
  other/litefs.yml
  other/setup-swap.js
  package.json
  pnpm-lock.yaml
  prisma/seed.ts
  server/index.ts
Due: eslint, prettier --list-different, tsc

feat: Remove Fly integration and deploy setup (#76)
  .dockerignore
  .env.example
  .eslintrc.cjs
  .gitignore
  Dockerfile
  app/entry.server.tsx
  app/routes/_auth+/verify.tsx
  app/routes/admin+/cache.tsx
  app/routes/admin+/cache_.lru.$cacheKey.ts
  app/routes/admin+/cache_.sqlite.$cacheKey.ts
  app/routes/admin+/cache_.sqlite.tsx
  app/routes/resources+/healthcheck.tsx
  app/utils/cache.server.ts
  app/utils/env.server.ts
  app/utils/litefs.server.ts
  fly.toml
  other/Dockerfile
  other/litefs.yml
  other/setup-swap.js
  package.json
  pnpm-lock.yaml
  prisma/seed.ts
  server/index.ts
Due: eslint, prettier --list-different, tsc

chore: Cleanup leftover .dockerignore
  other/.dockerignore
Due: none

chore: Cleanup leftover .dockerignore (#78)
  other/.dockerignore
Due: none

Path conditions:
  eslint: any of: *.{ts,mts,tsx,js,cjs,jsx}
  prettier --list-different: any of: *.{ts,mts,tsx,js,cjs,jsx,md,prisma,json,yml,html,css}
  tsc: any of: *.{ts,mts,tsx}
