Repository ricardocosta/bank-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different, tsc

feat: Update access to User profile page (#148)
  app/components/sidebar/sidebar.tsx
  app/components/user-dropdown.tsx
  app/root.tsx
  app/routes/admin+/users.tsx
  app/routes/me.tsx
  app/routes/profile+/_profile.tsx
  app/styles/tailwind.css
  app/utils/extended-theme.ts
  app/utils/meta.ts
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --list-different, tsc

chore: Update pnpm version
  package.json
Due: prettier --list-different

chore: Update pnpm version (#215)
  package.json
Due: prettier --list-different

chore: Upgrade Github actions
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/pr.yml
Due: prettier --list-different

chore: Upgrade Github actions (#217)
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/pr.yml
Due: prettier --list-different

fix: Fix session deletion
  app/utils/auth.server.ts
Due: eslint, prettier --list-different, tsc

fix: Move border color to tailwind config
  app/styles/tailwind.css
  app/utils/extended-theme.ts
Due: eslint, prettier --list-different, tsc

feat: Improve epic-toaster
  app/components/toaster.tsx
  app/components/ui/sonner.tsx
  app/root.tsx
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --list-different, tsc

style: Fix Remix code snippets file formatting
  .vscode/remix.code-snippets
Due: none

chore: Upgrade @testing-library dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --list-different

chore: Catchup epic-stack (December 2023) (#222)
  .vscode/remix.code-snippets
  app/components/toaster.tsx
  app/components/ui/sonner.tsx
  app/root.tsx
  app/styles/tailwind.css
  app/utils/auth.server.ts
  app/utils/extended-theme.ts
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --list-different, tsc

chore: Use z.input instead of manual optional
  app/utils/toast.server.ts
  tests/setup/custom-matchers.ts
Due: eslint, prettier --list-different, tsc

chore: Improve alignments
  app/components/search-bar.tsx
  app/components/ui/button.tsx
Due: eslint, prettier --list-different, tsc

chore: Remove unused Accordion keyfames/animation
  app/utils/extended-theme.ts
  app/utils/misc.tsx
Due: eslint, prettier --list-different, tsc

fix: Add general error boundary on cache routes
  app/routes/admin+/cache.tsx
Due: eslint, prettier --list-different, tsc

fix: Only remove trailing slash on GET requests
  server/index.ts
Due: eslint, prettier --list-different, tsc

feat: Remove usage of Permanent Redirect (301)
  server/index.ts
Due: eslint, prettier --list-different, tsc

feat: Remove CSRF tokens
  app/root.tsx
  app/routes/_auth+/forgot-password.tsx
  app/routes/_auth+/login.tsx
  app/routes/_auth+/onboarding.tsx
  app/routes/_auth+/signup.tsx
  app/routes/_auth+/verify.tsx
  app/routes/settings+/profile.change-email.tsx
  app/routes/settings+/profile.index.tsx
  app/routes/settings+/profile.password.tsx
  app/routes/settings+/profile.photo.tsx
  app/routes/users+/$username_+/__note-editor.tsx
  app/routes/users+/$username_+/notes.$noteId.tsx
  app/utils/csrf.server.ts
  app/utils/session.server.ts
  app/utils/verification.server.ts
Due: eslint, prettier --list-different, tsc

feat: Split permissions server and client code
  app/routes/admin+/cache.tsx
  app/routes/admin+/cache_.lru.$cacheKey.ts
  app/routes/admin+/cache_.sqlite.$cacheKey.ts
  app/routes/users+/$username_+/notes.$noteId.tsx
  app/utils/permissions.server.ts.ts
  app/utils/user.ts
Due: eslint, prettier --list-different, tsc

feat: Migrate to conform v1
  app/components/forms.tsx
  app/components/sidebar/sidebar.tsx
  app/components/sidebar/useOptimisticSidebarState.ts
  app/root.tsx
  app/routes/_auth+/forgot-password.tsx
  app/routes/_auth+/login.tsx
  app/routes/_auth+/onboarding.tsx
  app/routes/_auth+/reset-password.tsx
  app/routes/_auth+/signup.tsx
  app/routes/_auth+/verify.tsx
  app/routes/settings+/profile.change-email.tsx
  app/routes/settings+/profile.index.tsx
  app/routes/settings+/profile.password.tsx
  app/routes/settings+/profile.password_.create.tsx
  app/routes/settings+/profile.photo.tsx
  app/routes/users+/$username_+/__note-editor.tsx
  app/routes/users+/$username_+/notes.$noteId.tsx
  app/theme/theme-switch.tsx
  app/theme/useOptimisticThemeMode.ts
  package.json
  pnpm-lock.yaml
  types/named-actions.ts
Due: eslint, prettier --list-different, tsc

chore: Catchup epic-stack (January 2024) (#223)
  app/components/forms.tsx
  app/components/search-bar.tsx
  app/components/sidebar/sidebar.tsx
  app/components/sidebar/useOptimisticSidebarState.ts
  app/components/ui/button.tsx
  app/root.tsx
  app/routes/_auth+/forgot-password.tsx
  app/routes/_auth+/login.tsx
  app/routes/_auth+/onboarding.tsx
  app/routes/_auth+/reset-password.tsx
  app/routes/_auth+/signup.tsx
  app/routes/_auth+/verify.tsx
  app/routes/admin+/cache.tsx
  app/routes/admin+/cache_.lru.$cacheKey.ts
  app/routes/admin+/cache_.sqlite.$cacheKey.ts
  app/routes/settings+/profile.change-email.tsx
  app/routes/settings+/profile.index.tsx
  app/routes/settings+/profile.password.tsx
  app/routes/settings+/profile.password_.create.tsx
  app/routes/settings+/profile.photo.tsx
  app/routes/users+/$username_+/__note-editor.tsx
  app/routes/users+/$username_+/notes.$noteId.tsx
  app/theme/theme-switch.tsx
  app/theme/useOptimisticThemeMode.ts
  app/utils/csrf.server.ts
  app/utils/extended-theme.ts
  app/utils/misc.tsx
  app/utils/permissions.server.ts.ts
  app/utils/session.server.ts
  app/utils/toast.server.ts
  app/utils/user.ts
  app/utils/verification.server.ts
  package.json
  pnpm-lock.yaml
  server/index.ts
  tests/setup/custom-matchers.ts
  types/named-actions.ts
Due: eslint, prettier --list-different, tsc

chore: Move autoprefixer to devDependencies
  package.json
  pnpm-lock.yaml
Due: prettier --list-different

chore: Upgrade @epic-web/cachified to v5
  app/utils/cache.server.ts
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --list-different, tsc

chore: Bump @epic-web/client-hints to v1.3.0
  package.json
  pnpm-lock.yaml
Due: prettier --list-different

chore: Bump @epic-web/totp from v1.1.1 to v1.1.2
  package.json
  pnpm-lock.yaml
Due: prettier --list-different

chore: Bump @types/better-sqlite3 from v7.6.8 to v7.6.10
  package.json
  pnpm-lock.yaml
Due: prettier --list-different

chore: Bump @types/eslint from v8.56.1 to v8.56.10
  package.json
  pnpm-lock.yaml
Due: prettier --list-different

chore: Bump @vitejs/plugin-react from v4.2.0 to v4.2.1
  package.json
  pnpm-lock.yaml
Due: prettier --list-different

chore: Bump address from v2.0.1 to v2.0.2
  package.json
  pnpm-lock.yaml
Due: prettier --list-different

chore: Bump clsx from v2.1.0 to v2.1.1
  package.json
  pnpm-lock.yaml
Due: prettier --list-different

chore: Bump eslint-plugin-react-hooks from v4.6.0 to v4.6.2
  package.json
  pnpm-lock.yaml
Due: prettier --list-different

chore: Bump eslint-plugin-testing-library from v6.2.0 to v6.2.2
  package.json
  pnpm-lock.yaml
Due: prettier --list-different

chore: Bump glob from v10.3.10 to v10.3.12
  package.json
  pnpm-lock.yaml
Due: prettier --list-different

chore: Bump lint-staged from v15.2.0 to v15.2.2
  package.json
  pnpm-lock.yaml
Due: prettier --list-different

chore: Bump node-html-parser from v6.1.12 to v6.1.13
  package.json
  pnpm-lock.yaml
Due: prettier --list-different

chore: Bump npm-run-all2 from v6.1.1 to v6.1.2
  package.json
  pnpm-lock.yaml
Due: prettier --list-different

chore: Bump tailwindcss from v3.4.0 to v3.4.3
  package.json
  pnpm-lock.yaml
Due: prettier --list-different

chore: Bump tsx from v4.7.0 to 4.7.3
  package.json
  pnpm-lock.yaml
Due: prettier --list-different

Path conditions:
  eslint: any of: *.{ts,mts,tsx,js,cjs,jsx}
  prettier --list-different: any of: *.{ts,mts,tsx,js,cjs,jsx,md,prisma,json,yml,html,css}
  tsc: any of: *.{ts,mts,tsx}
